body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1e1e1e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.image-container {
    text-align: center;
    margin-bottom: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    object-fit: contain; /* Menjaga rasio gambar */
}

.button-container {
    text-align: center;
    margin-bottom: 20px;
}

.button-container a {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(90deg, #007bff, #00d4ff);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.content {
    font-size: 14px;
    line-height: 1.6;
}
